{% extends "layout.html" %}


{% block page_content %}
<div class="starter-template">
    <h1>Home Page Title</h1>

    {% if current_user.is_authenticated %}
        <p>Logged in as {{current_user}}</p>
    {% else %}
        <div>
            <a href="/login">Login</a>
        </div>
        <div>
            <a href="/register">Register</a>
        </div>
    {% endif %}
    <button id="home-page-cta">Click Me</button>
</div>
{% endblock %}

{% block page_assets_at_bottom %}
    {{ macros.static_js_tag("js/home.js")}}
{% endblock %}

