{% import "macros.html" as macros %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flask Boilerplate Demo</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "layout_sections/layout_assets_at_top.html" %}

        {{ macros.static_css_tag("css/main.css")}}

        {% block page_assets_at_top %}
        {% endblock %}
    </head>
    <body>
        {% include "layout_sections/top_navbar.html" %}
        <div class="container">

            {% block page_content %}
            {% endblock %}


        </div><!-- /.container -->


        {% include "layout_sections/layout_assets_at_bottom.html" %}

        {{ macros.static_js_tag("js/main.js")}}

        {% block page_assets_at_bottom %}
        {% endblock %}  
    </body>
        
</html>