<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flask Boilerplate Demo</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block page_css_before_body %}
        {% endblock %}
        {% block page_js_before_body %}
        {% endblock %}
    </head>
    <body>
        {% block page_content %}
        {% endblock %}

        {% block page_css_after_body %}
        {% endblock %}
        {% block page_js_after_body %}
        {% endblock %}    
    </body>
        
</html>