<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flask Boilerplate Demo</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "layout_sections/layout_imports_at_top" %}

        {% block page_imports_at_top %}
        {% endblock %}
    </head>
    <body>
        {% block page_content %}
        {% endblock %}

        {% include "layout_sections/layout_imports_at_bottom" %}

        {% block page_imports_at_bottom %}
        {% endblock %}  
    </body>
        
</html>